*{
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
    height: 100vh;

}

.header{
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    align-items: center;
}

.header a{
    margin-right: 20px;
    text-decoration: inherit;
    color: rgb(0, 0, 0);
    font-size: 20px;
}

.header a:hover{
    text-decoration: underline;
}

.header_right{
    display: flex;
    margin-left: auto;
    min-width: 13vw;
    justify-content: space-between;
}

.header_right .header_apps{
    margin-right: 10px;
}

.mainbody{
    flex: 1;
    display: flex;
    margin-top: 12%;
    flex-direction: column;
}

.mainbody img{
    object-fit: contain;
    height: 300px;
}

.search_input{
    display: flex;
    align-items: center;
    border: 1px solid lightgray;
    height: 30px;
    padding: 10px 20px;
    border-radius: 999px;
    width: 75vw;
    margin: 0 auto;
    margin-top: 40px;
    max-width: 560px;

}

.search_input input{
    flex: 1;
    padding: 10px 20px;
    border: none;
    outline: none;
}

.search_input .material_icons{
    color: gray;
}

.search_buttons{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.search_buttons button{
    margin: 5px;
    padding: 10px 15px;
    background-color: aliceblue;
    outline: none;
    border: none;
    cursor: pointer;
}