body{
    font-family: 'Lora', serif;
}
#logo-gato{
    width: 150px;
    height: 150px;
    border-radius: 100px;
    object-fit: cover;
    margin-top: 10px;
}

#logo-gato:hover{
    transform: scale(1.3);
    transition: .2s;
}

header{
    width: 100%;
    height: 250px;
    background-color: #dbd56e ;
    color: black;
    text-align: center;
    position: relative;
    position: fixed;
    top: 0;
    overflow: hidden;
}

#titulo{
    line-height: 70px;
    text-transform: uppercase;
    font-weight: 100;
}
    
main{
    background-color: #88ab75;
    color: white;
    display: flex;
    flex-wrap: wrap;
}

#cart{
    width: 35px;
    height: 30px;
}

#boton{
    background-color: #ece788;
    border: none;
    color: black;
    padding: 10px 25px;
    text-decoration: none;
    font-size: 16px;
    border-radius: 70px;
}

#botones{
    position: fixed;
    height: 60px;
    line-height: 60px;
    width: 70%;
    display: inline-block;
    padding: 10px 15px;
    line-height: 1;
     

}

#boton:hover{
    background-color: #aca964;
    padding: 8px 12px;

}

article{
    display: flex;   
    width: 610px;
    height: 900px;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#visitar{
    padding: 25px 20px;
    font-size: 24px;
    font-weight: 600;
    cursor: pointer;
    outline: none;
    color: #f7fcf7;
    background-color: #2f9440;
    border: none;
    border-radius: 15px;
    box-shadow: 0 1rem 1.25rem 0
     #82d87f,
                0 -0.25rem 1.5rem rgb(118, 224, 144) inset,
                0 0.75rem 0.5rem rgba(60, 161, 99, 0.4) inset,
                0 0.25rem 0.5rem 0 rgb(53, 177, 73) inset;
}

/*   El estilo de los botones de Visitar no concuerda con el resto de la página, pero experimentando con los colores me topé con ese efecto de luz y me agradó tanto que ya no lo pude cambiar.
*/
footer{
        width: 100%;
        display: flex;
        background-color: black;
}        
#copy{
        color: white;
        

}   
        
    



